extends layout

block navbarContents
  ul.pull-right.nav
    li
      a(href="/login") Login/sign-up with Google

block content
  h3 Welcome on Fundor, the place where you can find out about the laaaaaatest exciting deals.

